<nav class="nav">
  <h1>
    <a
      routerLink=""
      ngbPopover="Navigates to home page"
      [openDelay]="300"
      [closeDelay]="500"
      triggers="mouseenter:mouseleave"
      style="cursor: pointer;"
      >E-Cart</a
    >
  </h1>

  <!-- Search Box for Default and User Menu -->
  <div class="nav-search" *ngIf="menuType === 'default' || menuType === 'user'">
    <input
      type="text"
      #searchInput
      (keyup)="searchProduct($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      placeholder="Search by name or category"
    />
    <button (click)="submitSearchResult(searchInput.value)">Search</button>

    <ul
      class="suggested-search"
      style="list-style-type: none; padding-left: 0; margin: 0"
      *ngIf="searchInput.value.trim() && searchResultVisible"
    >
      <!-- Use ng-container to combine ngIf and ngFor -->
      <ng-container
        *ngIf="searchResult && searchResult.length > 0; else noResults"
      >
        <li *ngFor="let item of searchResult">
          <a
            [routerLink]="['/product-detail/' + item.id]"
            routerLinkActive="router-link-active"
            >{{ item.name }}</a
          >
        </li>
      </ng-container>
      <!-- Template for no results -->
      <ng-template #noResults>
        <li>
          <a>No results found</a>
        </li>
      </ng-template>
    </ul>
  </div>

  <div [ngSwitch]="menuType" class="menu">
    <ul *ngSwitchCase="'default'" class="default-list">
      <li>
        <a [routerLink]="['/seller-auth']" routerLinkActive="router-link-active"
          style="cursor: pointer;" >Seller</a>
      </li>
      <li>
        <a [routerLink]="['/user-auth']" routerLinkActive="router-link-active"
          style="cursor: pointer;" >User</a>
      </li>
      <li>
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active"
          style="cursor: pointer;" >Cart({{cartItems}})</a>
      </li>
    </ul>

    <ul *ngSwitchCase="'user'" class="user-list">
      <li style="font-family: Gill Sans; font-size: large">
        Hi, {{ userName | titlecase }}
      </li>
      <li>
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active"
          style="cursor: pointer;" >Cart({{cartItems}})</a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="logout()">Logout</a>
      </li>
    </ul>

    <ul *ngSwitchCase="'seller'" class="seller-list">
      <li style="font-family: Gill Sans; font-size: large">
        Hi, {{ sellerName | titlecase }}
      </li>
      <li>
        <a [routerLink]="['/seller-auth']" routerLinkActive="router-link-active"
          style="cursor: pointer;" >Your Products</a>
      </li>
      <li>
        <a [routerLink]="['/seller-add-product']" routerLinkActive="router-link-active"
          style="cursor: pointer;" >Add Product</a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
