<div class="seller-home-decoration">
  <h3>YOUR PRODUCTS</h3>
  <!-- <p class="error-p">{{ deleteMsg }}</p> -->
  <table class="product-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{ item.imageUrl }}" /></td>
        <td>{{ item.name }}</td>
        <td><span>₹</span>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>
          <div class="action-icons">
            <a
              [routerLink]="['/seller-update-product/'+item.id]"
              routerLinkActive="router-link-active"
              ><i class="fas fa-edit"></i
            ></a>
            <i class="fas fa-trash-alt" (click)="deleteProduct(item.id)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
