@if (popularProductsData) {
<ngb-carousel>
  <ng-template *ngFor="let item of popularProductsData" ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="productImage" src="{{ item.imageUrl }}" alt="Product image" />
    </div>
    <div class="carousel-caption">
      <a
        [routerLink]="['/product-detail/' + item.id]"
        routerLinkActive="router-link-active"
        style="text-decoration: none; color: inherit"
        ><h3>{{ item.name }}</h3></a
      >
      <p>₹{{ item.price }}</p>
    </div>
  </ng-template>
</ngb-carousel>
}
<div class="product-list-wrapper">
  <h1 style="color: white">Trendy Products</h1>
  <div class="product-row">
    <!-- Product Items -->
    <div class="product-item" *ngFor="let item of trendyProductsData">
      <img src="{{ item.imageUrl }}" />
      <div class="product-details">
        <h6 class="details-header">{{ item.name }}</h6>
        <div class="product-price">
          <h6>Price - <span>₹</span>{{ item.price }}</h6>
        </div>
        <div class="product-color">
          <h6>Color - {{ item.color }}</h6>
        </div>
      </div>
      <div class="product-footer">
        <a
          [routerLink]="['/product-detail/' + item.id]"
          routerLinkActive="router-link-active"
          >View more details</a
        >
        <a href="">Add to cart</a>
      </div>
    </div>
  </div>
</div>
